/**
 * Copyright 2018 dialog LLC <info@dlg.im>
 */

@import '../../styles/variables.css';

.image,
.char {
  all: initial;
}

.image {
  display: inline-block;
  overflow: hidden;
  cursor: inherit;
  line-height: inherit;
  background-size: 100%;
  color: transparent !important;
  text-shadow: none;
  text-indent: -9000px;
  vertical-align: inherit;
}

.char {
  display: inline-block;
  vertical-align: inherit;
  line-height: inherit;
  word-break: break-all;
  font-family: var(--font-emoji);
  font-weight: normal;
  text-size-adjust: 100%;
  letter-spacing: 1px;
  text-align: center;
}
